<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="laser_joint" type="fixed">
        <parent link="chassis"/>
        <child link="laser_frame"/>
        <origin xyz="0.225 0 0.175" rpy="0 0 0"/>
    </joint>

    <link name="laser_frame">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <xacro:inertial_cylinder mass="0.1" length="0.04" radius="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <gazebo reference="laser_frame">
        <material>Gazebo/Orange</material>

        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>false</visualize> <!-- set to true to see laser beams -->
            <update_rate>10</update_rate> <!-- in Hz -->
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples> <!-- number of samples -->
                        <min_angle>-3.14</min_angle> <!-- start angle -->
                        <max_angle>3.14</max_angle> <!-- end angle -->
                    </horizontal>
                    <vertical>
                        <samples>8</samples> <!-- number of samples -->
                        <min_angle>-0.07</min_angle> <!-- start angle -->
                        <max_angle>0.07</max_angle> <!-- end angle -->
                    </vertical>
                </scan>
                <range>
                    <min>0.3</min> <!-- minimum range -->
                    <max>12</max> <!-- maximum range -->
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument> <!-- topic name -->
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type> <!-- message type -->
                <frame_name>laser_frame</frame_name> <!-- frame name -->
            </plugin>
        </sensor>
    </gazebo>

</robot>